<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <div>
            <article>
                <h2><%= fruit.name %> - <%= fruit.readyToEat %></h2>
                <h3><%= fruit.color %></h3>
                <a href="/fruit/<%=fruit.id%>/edit"><button>Edit</button></a>
                <form action="/fruit/<%=fruit._id%>?_method=DELETE" method="POST">
                    <input type="submit" value="delete"/>
                </form>
                <a href="/fruit"><button>Back to Main</button></a>
            </article>
        </div>
    </main>
</body>
</html>